@keyframes messageAnimation {
  0% {
    opacity: 0.01;
    transform: scaleY(0);
  }
  /* 50% {
    opacity: 0.01;
    transform: scaleY(1);
  } */
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.enter,
.exitDone {
  opacity: 0.01;
  transform: scaleY(0);
}

.enterDone,
.exit {
  opacity: 1;
  transform: scaleY(1);
}

.enterActive {
  animation: messageAnimation 2000ms ease-in-out;
}

.exitActive {
  animation: messageAnimation 2000ms ease-in-out reverse;
}
